{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <table class="table table-bordered">
          <thead class="header-bkgrnd">
          <tr>
            <th>
              <span
                class="fa {{ category.iconKey }}"></span> {{ categoryName }}
            </th>
            <th>
              Printed History ({{ fortunesPrinted|number_format }} total,
              {{ averagePrinted|number_format }} average)
            </th>
            <th>
              Status
            </th>
          </tr>
          </thead>
          <tbody>
          {% for fortuneCookie in category.fortuneCookies %}
            <tr>
              <td>
                {{ fortuneCookie.fortune }}
              </td>
              <td>
                {{ fortuneCookie.numberPrinted }} printed
                since {{ fortuneCookie.createdAt|date('M jS Y') }}
              </td>
              <td>
                {% if fortuneCookie.discontinued %}
                 Active
                {% else %}
                 Discontinued
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <i class="fa fa-angle-double-left"></i> <a class="fortune-black"
                                                   href="{{ path('homepage') }}">More
          Fortunes</a>
      </div>
    </div>
  </div>
{% endblock %}
